<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yo.guidebbs.mapper.GuideBbsMapper">

 <!-- <select id="glist"  resultType="org.yo.guidebbs.vo.GuideBbsVO">
	select 
		no, userid, cost,pay, regdate 
	from 
		tbl_guidebbs  
		gb, tbl_travelbbs tb
	where  
		gb.travelno= tb.no and tb.no= #{no}
</select>  -->
 <select id = "glist"  parameterType="int" resultType="org.yo.guidebbs.vo.GuideBbsVO">
	 select  no grno,place, msg, lat, lng 
	 from tbl_guideregion 
	 where gpno=#{gpno} order by no asc

</select> 

<!--★DAY별 가이드 장소 리스트  -->
<select id="daylist" parameterType="org.yo.guidebbs.vo.GuideBbsVO" resultType="org.yo.guidebbs.vo.GuideBbsVO">
select gp.gpno,gr.no grno, place, lat, lng, msg, plandate from 
(select gp.no gpno, travelno,guideid,  cost, pay, gp.plandate, guideno, rno 
	from 
(select no, travelno, guideid, cost, pay 
	from tbl_guidebbs 
		where travelno = #{travelno} ) gb, tbl_guideplan gp
	where gb.no = gp.guideno and guideno = #{guideno}) gp, tbl_guideregion gr
where gp.gpno = gr.gpno and gr.gpno=#{gpno}
order by no asc
</select>

<!--탭 클릭할때 plan 추가되는것.  -->
 <insert id="gplan"  parameterType="org.yo.guidebbs.vo.GuideBbsVO" useGeneratedKeys="true">
	<selectKey keyProperty="gpno" resultType="int" order="BEFORE">
	            SELECT seq_guideplan.nextVal from dual
	</selectKey>
	insert into tbl_guideplan (no, plandate) 
		values(#{gpno}, #{plandate})

</insert> 

<select id="grList"  parameterType="org.yo.guidebbs.vo.GuideBbsVO"   resultType="org.yo.guidebbs.vo.GuideBbsVO">
	select gp.no gpno, travelno,guideid,  cost, pay,gp.plandate, guideno, rno from 
	(select no, travelno, guideid, cost, pay from tbl_guidebbs where travelno = #{travelno} ) gb, tbl_guideplan gp
	where gb.no = gp.guideno and guideno = #{guideno} and plandate=#{plandate}
</select>

<select id="guideplan" parameterType="org.yo.guidebbs.vo.GuideBbsVO"   resultType="org.yo.guidebbs.vo.GuideBbsVO">
select 
	gp.guideno,
	max(gb.travelno) travelno,
	max(rno) rno,
	max(gp.no) gpno
from 
	tbl_guideplan gp , tbl_guidebbs gb
where gp.guideno = gb.no and
	guideno = #{guideno} 
group by gp.guideno
</select>

<insert id="insert_gpPhoto" parameterType="org.yo.guidebbs.vo.GP_PhotoVO" useGeneratedKeys="true">
	<selectKey keyProperty="gpphotono" resultType="int" order="BEFORE">
	            SELECT seq_gpphoto.nextVal from dual
	</selectKey>
	insert into tbl_gp_photo(no,guideno, content,isfile) 
	values (#{gpphotono},#{guideno},#{content},#{isfile})

</insert>

<!--다시 들어왓을때 사진 덮어씌우기  -->
<select id="read_gpphoto" parameterType="org.yo.guidebbs.vo.GuideBbsVO" resultType="org.yo.guidebbs.vo.GP_PhotoVO">
	select  gpp.guideno, travelno, content, filename, suffix, gpf.gpphotono, isfile from
		(select gpp.guideno, travelno, content, isfile,gpp.no gpphotono from 
			(select no guideno, travelno from tbl_guidebbs where travelno = #{travelno}) gb, tbl_gp_photo gpp
				where gb.guideno = gpp.guideno and gpp.guideno = #{guideno})gpp, tbl_gp_photofile gpf
	where gpp.gpphotono = gpf.gpphotono 
</select>






<select id="read_gpphoto" resultType="org.yo.guidebbs.vo.GP_PhotoVO">
	select no gpphotono, content, isfile, filename, suffix from 
	(select content, isfile, no from tbl_gp_photo) gpp, tbl_gp_photofile gpf
	where gpp.no = gpf.gpphotono
</select>



<!-- <select id = "glist"  parameterType="int" resultType="org.yo.guidebbs.vo.GuideBbsVO">
	<![CDATA[ 
	select 
		guideno, plandate, cost, pay, regdate, place, msg
	from 
		(select 
	  		plan.no, rno, guideno, plandate, travelno, guideid, cost, pay, regdate
		from
			(select /*INDEX_DESC (tbl_guideplan PK_guideplan) */
	  			no, rno, guideno, content, plandate
			from
	  			tbl_guideplan
			where 
	 			 no > 0 and
	  	guideno = #{guideno}) plan, tbl_guidebbs guide
		where
	  		guide.no = plan.guideno) gp, tbl_guideregion gr, tbl_region region
	where 
		gp.no = gr.gpno and region.no = gp.rno]]>
	 

</select> -->
 <!-- <delete id="placeDel" parameterType="int" >
	delete from tbl_guideregion 
	where no=#{No}
</delete>  -->


<!-- <update id="placModify" parameterType="int" >
	update tbl_guideregion set place =#{place} ,msg= #{msg} where no={no};"

</update> -->


<!-- <update id="update" parameterType="org.yo.vo.GuideBbsVO ">
	UPDATE tbl_guideregion
	<set>
		<if test="place !=null">place=#{place},</if>
		<if test="msg !=null">msg=#{msg}</if>
		
	</set>
	where no=#{no}
</update> -->
</mapper>