<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yo.user.mapper.UserMapper">

<!-- "ID" VARCHAR2(20 BYTE), 
	"PW" VARCHAR2(20 BYTE), 
	"BIRTH" DATE, 
	"GENDER" VARCHAR2(20 BYTE), 
	"USERMODE" VARCHAR2(20 BYTE), 
	"STATE" VARCHAR2(20 BYTE), 
	"NAME" VARCHAR2(20 BYTE), 
	"REGION" VARCHAR2(20 BYTE), 
	"REGDATE" DATE DEFAULT sysdate, 
	"GUIDECNT" NUMBER DEFAULT 0, 
	"SPEAK" VARCHAR2(20 BYTE), 
	"BIDCNT" NUMBER DEFAULT 0, 
	"RATE" NUMBER DEFAULT 0,  -->


<insert id="join" parameterType="org.yo.user.vo.UserVO">
    <![CDATA[INSERT INTO TBL_USER (ID, PW, BIRTH, GENDER, USERMODE, STATE, NAME, REGIONNO, REGDATE, GUIDECNT, SPEAK, BIDCNT, RATE, TRAVELSTATE)
   VALUES (#{id}, #{pw}, to_date(#{birth},'dd month yyyy'), #{gender}, 'N', 'Y', #{name}, #{regionno}, SYSDATE, 0, #{speak}, 0, 0, 'F')]]>
   <!-- VALUES ('user05', 'user05', to_date('1999-09-09','yyyy-mm-dd'), 'M', 'N', 'Y', '홍길동', 5, SYSDATE, 0, '태국어', 0, 0, 'F') -->
</insert>

<!-- <select id="list" resultType="org.yo.region.vo.ThemeVO">
SELECT no, name, thememode FROM TBL_THEME
</select> -->
</mapper>