<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yo.travelbbs.mapper.TravelbbsMapper">


<select id="getList" parameterType="int" resultType="org.yo.travelbbs.vo.TravelbbsVO">
<![CDATA[
select rn, no, title, content, startdate, enddate, teammember, cost, transport, memo, bidstate, region, userid, themeno, guideid
from
(select /*+INDEX_DESC(tbl_travelbbs pk_travelbbs) */
rownum rn, no, title, content, startdate, enddate, teammember, cost, transport, memo, bidstate, region, userid, themeno, guideid
from tbl_travelbbs where no > 0)
where rn<=(#{page}*5)
]]>
</select>


<select id="getFilteringList" parameterType="org.yo.web.util.TravelBbsCriteria" resultType="org.yo.travelbbs.vo.TravelbbsVO">
<![CDATA[
select rn, no, title, content, startdate, enddate, teammember, cost, transport, memo, bidstate, region, regionno, userid, themeno, guideid
from
(select /*+INDEX_DESC(tbl_travelbbs pk_travelbbs) */
rownum rn, no, title, content, startdate, enddate, teammember, cost, transport, memo, bidstate, region, regionno, userid, themeno, guideid
from tbl_travelbbs where no > 0]]>
  <if test="regionno != null">
    AND REGIONNO = #{regionno}
  </if>
  <if test="themeno != null">
    AND THEMENO = #{themeno}
  </if>
<![CDATA[
)
where rn<=(#{page}*5)
]]>
</select>


<insert id="create" parameterType="org.yo.travelbbs.vo.TravelbbsVO">
insert into tbl_travelbbs (no, title, content, startdate, enddate, teammember, cost, transport, memo, region, userid, themeno) 
values(seq_travelbbs.nextval,#{title},#{content},to_date(#{startdate},'YY/MM/DD'),to_date(#{enddate},'YY/MM/DD'),#{teammember},#{cost},#{transport},#{memo},#{region},#{userid},#{themeno})
</insert>


<select id="read" parameterType="int" resultType="org.yo.travelbbs.vo.TravelbbsVO">
select /*+INDEX_DESC(tbl_travelbbs pk_travelbbs) */
no , title, content, to_char(startdate,'YY-MM-DD') startdate, to_char(enddate,'YY-MM-DD') enddate, teammember, cost, transport, memo, bidstate, region, userid, themeno, guideid
from tbl_travelbbs where no = #{no}
</select>


</mapper>